*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: antiquewhite;
  
}
.messageErreur {
    display: none;
    color: red;
    font-size: 25px;
    border: 1px solid red;
    border-radius: 10px;
  
    padding: 10px;
    background-color: rgb(240, 155, 155);
}
.erreurBudget{
    display: none;
}
.erreurExpense{
    display: none;
}
#budgetForm {
    border: 1px solid green;
}
#expenseForm{
    border: 1px solid red;
}